#reschedule {
    margin-top: 50px;
    font-size: 35px;
    margin-left: 100px;
}
.big.ui.right.labeled.icon.button {
    margin-top: 55px;
    margin-left: 15px;
}

.ui.card {
    font-size: 15px;
}

.eight.wide.column {
    padding-bottom: 30px;
    margin-bottom: 15px;
}

#footer {
    font-size: 15px;
}